* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container-xxl {
  max-width: 1440px;
}

.feature-slider {
  background-color: #f6e6d9;
  border-top: 1px solid rgb(60, 66, 46);
  border-bottom: 1px solid rgb(60, 66, 46);
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
}

.feature-slider h3.section-header {
  font-size: 24px;
  font-weight: normal;
  padding-top: 60px;
  text-align: center;
  margin-inline: auto;
}

.feature-slider .slide-img {
  margin-inline: auto;
  display: flex;
  justify-content: center;
}

.feature-slider .slider-text {
  transition: all 300ms ease-in-out;
}

.feature-slider .slide-img img {
  border-radius: 20px;
  max-width: 420px;
  width: 100%;
  object-fit: cover;
  max-height: 370px;
  max-height: 260px;
  /* opacity: 0.3; */
  transition: all 0.3s ease-in-out;
}

.feature-slider .slide-header {
  font-size: 16px;
  text-align: center;
  margin-top: 16px;
}

.feature-slider .slide-menu-header {
  font-size: 52px;
  text-align: center;
  color: #9eef80;
  font-style: italic;
  text-shadow: 0.04em 0.005em #3c422e, 0.5px 0.5px #3c422e,
    -0.25px -0.25px #3c422e, 0.25px 0.25px #3c422e, 1px 1px #3c422e;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
}

.slide-menu-header::after {
  transition: all 300ms ease-in-out;
  content: "";
  width: 123px;
  height: 112px;
  opacity: 0;
  position: absolute;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #d1e030 0,
    transparent 100%
  );
  z-index: -1;
}

.feature-slider .desktop-text {
  display: none;
}

/* Active Slide (For Hover) */
.activeSlider .slide-menu-header::after {
  opacity: 1;
}

.activeSlider .swiper-button-next,
.activeSlider .swiper-button-prev {
  opacity: 1;
}

.bg-highlight {
  background-color: #fff4ec !important;
}

.active-element {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #f6e6d9;
  z-index: -1;
  display: none;
  transition: all 300ms ease-in-out;
}

.left.active-element {
  left: 0;
  border-right: 1px dashed rgb(60, 66, 46);
}

.right.active-element {
  right: 0;
}

/* ============================= */
/* Swiper related */
/* ============================= */
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  top: 40%;
  color: rgb(60, 66, 46);
  border: 1px solid rgb(60, 66, 46);
  border-radius: 10px;
  width: 80px;
  height: 80px;
  transition: all 300ms ease-in-out;
  opacity: 0;
  display: none;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #3c422e;
}

.swiper-button-next:hover svg,
.swiper-button-prev:hover svg {
  color: #fff;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 19px;
  height: 8px;
  transition: all 300ms ease-in-out;
}

.feature-slider .swiper-pagination-left,
.feature-slider .swiper-pagination-right {
  display: block;
  padding-top: 16px;
  text-align: center;
}

.feature-slider .swiper-pagination-bullet {
  background: transparent;
  border: 1px solid rgb(60, 66, 46);
  opacity: 1;
}

.feature-slider .swiper-pagination-bullet-active {
  background: #9eef80;
}

/* ============================= */
/* Boostrap Tabs */
/* ============================= */
.feature-slider .nav.nav-tabs {
  border: 1px solid rgb(60, 66, 46);
  border-radius: 10px;
  overflow: hidden;
  max-width: max-content;
  margin-inline: auto;
  margin-bottom: 20px;
}

.feature-slider #drizzle-tab {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.feature-slider #sizzle-tab {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.feature-slider .nav .nav-link {
  border: none;
  color: #3c422e;
  font-size: 24px;
}

.feature-slider .nav.nav-tabs .nav-link.active {
  background-color: #9eef80;
}

/* ============================= */
/* Media Queries */
/* ============================= */

@media (min-width: 1199px) {
  .nav.nav-tabs {
    display: none;
  }

  .tab-content {
    display: flex;
  }

  .tab-content > .tab-pane {
    display: block;
    width: 50%;
    position: relative;
  }

  .fade:not(.show) {
    opacity: 1;
  }

  .active-element {
    display: block;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
  }

  .feature-slider h3.section-header {
    font-size: 48px;
    padding-block: 32px;
    max-width: 530px;
  }

  .feature-slider .desktop-text {
    display: inline-block;
  }

  .feature-slider .slide-img img {
    max-height: 370px;
  }
  .feature-slider .swiper-pagination-left,
  .feature-slider .swiper-pagination-right {
    display: none;
  }
}

@media (min-width: 1300px) {
  .swiper-button-prev {
    left: 30px;
  }

  .swiper-button-next {
    right: 30px;
  }
}
